body {
  height: 100vh;
}

#root {
  background-color: rgb(252, 246, 226);
  height: 100%;
  display: flex;
  justify-content: center;
}

.post-view {
  border: 5px solid rgb(23, 23, 21);
  width: 300px;
  font-size: 25px;
}

.post-content {
  min-height: 150px;
}